body{
    background-color: rgb(67, 78, 60);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    padding: 0;
}

header{
    background-image: url('../Img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    padding: 5px;
    background-color: rgba(245, 222, 179, 0.9);
    text-align: center;
    width: 100%;
}

.nav-item{
    border-radius: 5px;
}

.nav-item:hover{
    background-color: rgba(255, 0, 0, 0.8);
}

.user-form input{
    margin-bottom: 10px;
}


footer{
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray{
    background-color: gray;
}

.left-bar{
    background-color: rgb(202, 241, 228);
}

.row{
    margin: 0;
    padding: 0;
}

.etkezes, .mozgas{
    min-height: 200px;
}

.food-item{
    border: 1px solid black;
}

.kozep{
    display: flex;
    justify-content: center;
    align-items: center;
}