<%- include("../header") %>
<h1 style="color: red; text-align: center" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-2 mt-lg-3 top-p">
    <%- include("../menu") %>
    <style>
        @media only screen and (max-width: 768px) {
            .fn .btn {
                width: 100%;
                margin: 0 0 10px 0;
            }
    
            .fn .btn:nth-child(3) {
                margin-bottom: 0px;
            }
        }
    </style>
    <div class="content row m-0 p-3">
        <div class="content-wrapper p-3 fn">
            <button class="btn btn-warning" id="allBlogsBTN">Összes blog</button>
            <button class="btn btn-warning" id="myBlogsBTN">Saját blogok</button>
            <button class="btn btn-success" id="newBlog" onclick="openModal()">Hozzáadás</button>
        </div>
        <div id="all-blogs" class=""></div>
        <div id="user-blogs" class="d-none"></div>

        <div id="blogModal">
            <div class="col-12 col-md-8 p-0 h-50">
                <h1 id="cim"></h1>
            </div>
            <div class="form-floating p-2">
                <input type="text" class="form-control" id="title" placeholder="" />
                <label for="title">Cím:</label>
            </div>
            <div class="form-floating p-2">
                <textarea type="text" class="form-control" style="min-height: 400px" id="blog" placeholder="asd"></textarea>
                <label for="blog">Tartalom:</label>
            </div>
        </div>
    </div>
</div>
<%- include("../foot") %>

    <script>
        var allBlogs = [];
        var myBlogs = [];

        function openModal() {
            $('#blogModal').removeClass('d-none');
        }

        setModal('blogModal', {
            cim: 'Saját blog',
            buttons: [
                { type: 'success', text: 'Létrehozás', id: 'create' },
                { type: 'secondary', text: 'Vissza', id: 'back' },
            ],
        });

        $('#allBlogsBTN').on('click', () => {
            $('#all-blogs').removeClass('d-none');
            $('#user-blogs').addClass('d-none');
        });

        $('#myBlogsBTN').on('click', () => {
            $('#user-blogs').removeClass('d-none');
            $('#all-blogs').addClass('d-none');
        });

        //vissza
        $('#blogModal #back').on('click', () => {
            $('#blogModal').addClass('d-none');
        });

        //mentés
        $('#blogModal #create').on('click', () => {
            $.ajax({
                method: 'post',
                url: './postBlog',
                data: {
                    cim: $('#blogModal #title').val(),
                    tartalom: $('#blogModal #blog').val(),
                },
            })
                .done((res) => {
                    if (!res.data.success) return notify(res.data.err);
                    res.data.blog.felhasznalo = res.user;
                    myBlogs.push(res.data.blog);

                    let str = '';
                    myBlogs.forEach((element) => {
                        if (element.status == 1) {
                            style = 'btn btn-success';
                            state = 'Aktív';
                        } else {
                            style = 'btn btn-danger';
                            state = 'Inaktív';
                        }

                        str += `<div class="content-wrapper mt-3 col-12 col-lg-8 m-auto">
                        <div class="m-1 p-4 gray blog-container">
                            <div style="width: 100px" class="float-end ${style}">${state}</div>
                            <h2 class="d-block p-0 cim">${element.cim}</h2>
                            <h6 class="keszito">Készítette: ${element.felhasznalo}</h6>
                            <hr />
                            <div class="blog-content">
                                <p>${element.tartalom}</p>
                            </div>
                            <hr/>
                            <h6 class="col-12 text-end datum">${moment(element.idopont).format('YYYY-MM-D, hh:mm')}</h6>
                        </div>
                        </div>`;
                    });

                    $('#user-blogs').html(str);
                    notify('Blog létrehozva, megerősítésre vár', 'green');
                })
                .fail((err) => {
                    notify('Adatbázis hiba');
                    console.log(err);
                })
                .always(() => {});
            $('#blogModal').addClass('d-none');
        });

        //összes blog
        $.ajax({ method: 'get', url: './getAllActiveBlog' })
            .done((data) => {
                let str = '';
                allBlogs = data.data.blogs;
                allBlogs.forEach((element) => {
                    str += `<div class="content-wrapper mt-3 col-12 col-lg-8 m-auto">
                    <div class="m-1 p-4 gray blog-container">
                        <h2 class="d-block p-0 cim">${element.cim}</h2>
                        <h6 class="keszito">Készítette: ${element.felhasznalo}</h6>
                        <hr />
                        <div class="blog-content">
                            <p>${element.tartalom}</p>
                        </div>
                        <hr/>
                        <h6 class="col-12 text-end datum">${moment(element.idopont).format('YYYY-MM-DD, hh:mm')}</h6>
                    </div>
                    </div>`;
                });

                $('#all-blogs').html(str);
            })
            .fail((err) => {
                notify('Adatbázis hiba');
                console.log(err);
            })
            .always(() => {});

        //felhasználó blogjai
        $.ajax({ method: 'get', url: './getBlogByUser' })
            .done((data) => {
                let str = '';
                myBlogs = data.data.blogs;
                console.log(myBlogs);
                myBlogs.forEach((element) => {
                    if (element.status == 1) {
                        style = 'btn btn-success';
                        state = 'Aktív';
                    } else {
                        style = 'btn btn-danger';
                        state = 'Inaktív';
                    }

                    str += `<div class="content-wrapper mt-3 col-12 col-lg-8 m-auto">
                    <div class="m-1 p-4 gray blog-container">
                        <div style="width: 100px" class="float-end ${style}">${state}</div>
                        <h2 class="d-block p-0 cim">${element.cim}</h2>
                        <h6 class="keszito">Készítette: ${element.felhasznalo}</h6>
                        <hr />
                        <div class="blog-content">
                            <p>${element.tartalom}</p>
                        </div>
                        <hr/>
                        <h6 class="col-12 text-end datum">${moment(element.idopont).format('YYYY-MM-D, hh:mm')}</h6>
                    </div>
                    </div>`;
                });

                $('#user-blogs').html(str);
            })
            .fail((err) => {
                notify('Adatbázis hiba');
                console.log(err);
            })
            .always(() => {});
    </script>

    <%- include("../footer") %>
