<%- include("../header") %>
<h1 style="color: red; text-align: center" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>
    <div id="tabs" class="content row m-0 p-3">
        <ul>
            <li><a href="#all-blogs">Összes blog</a></li>
            <li><a href="#blogs-by-user">Saját blogok</a></li>
        </ul>
        <div id="all-blogs"><div class=""></div></div>

        <div id="blogs-by-user"><div class=""></div></div>
    </div>

    <%- include("../foot") %>
</div>

<script>
    $(function () {
        $('#tabs').tabs();
    });

    $.ajax({ method: 'get', url: './getAllActiveBlog' })
        .done((data) => {
            let str = '';

            data.data.blogs.forEach((element) => {
                str += `<div class="mt-3 col-12 col-lg-6">
            <div class="m-1 p-4 gray">
                <h2 class="d-block p-0"s>${element.cim}</h2>
                <h6>Készítette: ${element.felhasznalo}</h6>
                <hr />
                <div class="blog-content">
                    <p>${element.tartalom}</p>
                </div>
                <h6 class="col-12 text-end">${moment(element.idopont).format('YYYY-MM-D, hh:mm')}</h6>
            </div>
            </div>`;
            });
            $('#all-blogs').html(str);
        })
        .fail((err) => {
            notify('Adatbázis hiba');
            console.log(err);
        })
        .always(() => {});

    $.ajax({ method: 'get', url: './getBlogByUser' })
        .done((data) => {
            let str = '';

            data.data.blogs.forEach((element) => {
                if (element.status == 1) {
                    style = 'btn btn-success';
                    state = 'Aktív';
                } else {
                    style = 'btn btn-Danger';
                    state = 'Engedélyezésre vár';
                }

                str += `<div class="mt-3 col-12 col-lg-6">
            <div class="m-1 p-4 gray">
                <div style="width: 100px" class="${style}">${state}</div>
                <h2 class="d-block p-0"s>${element.cim}</h2>
                <h6>Készítette: ${element.felhasznalo}</h6>
                <hr />
                <div class="blog-content">
                    <p>${element.tartalom}</p>
                </div>
                <h6 class="col-12 text-end">${moment(element.idopont).format('YYYY-MM-D, hh:mm')}</h6>
            </div>
            </div>`;
            });
            $('#blogs-by-user').html(str);
        })
        .fail((err) => {
            notify('Adatbázis hiba');
            console.log(err);
        })
        .always(() => {});
</script>

<%- include("../footer") %>

<!-- <button style="width: 100px" class="{{status}}">Status</button> -->
