<%- include("../header") %>
<h1 style="color: red; text-align: center" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-2 mt-lg-3 top-p">
    <%- include("../menu") %>
    <div class="content row m-0 p-3">
        <div class="content-wrapper p-3">
            <p>Oldalunk a Codey egy életmód figyelő oldal. Az oldal segít az étkezések nyomon követésében, a sporttevékenységek kezelésében, a folyadékbevitel figyelésében és a testsúly alakulásában is. Az oldalt bárki ingyenesen használhatja, aki:</p>
            <ul>
                <li>Fogyni szeretne</li>
                <li>Szeretne rendszerességet vinni az étkezéseibe</li>
                <li>Étkezési gondokkal küzdőknek</li>
                <li>Akiknek az egészségi állapotuk miatt rászorulnak erre</li>
            </ul>
        </div>
        <div class="content-wrapper p-3 mt-3">
            <h2 class="text-center">Fejlesztőink</h2>
        </div>

        <div class="col-12 row p-0 m-0">
            <div class="col-12 col-md-6 p-3">
                <div class="content-wrapper dev-card d-flex flex-column p-3">
                    <img src="/Img/erik.png" alt="" class="w-75 align-self-center" />
                    <h3 class="text-center">Gilián Erik</h3>
                    <ul class="p-0 m-0">
                        <li>Full-Stack junior fejlesztő</li>
                        <li>Frontend</li>
                        <li>Felhasználói élmény</li>
                        <li>Kezdő testépítő</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 p-3">
                <div class="content-wrapper dev-card d-flex flex-column p-3">
                    <img src="/Img/balint.png" alt="" class="w-75 align-self-center" />
                    <h3 class="text-center">Pető Bálint László</h3>
                    <ul class="p-0 m-0">
                        <li>Full-Stack junior fejlesztő</li>
                        <li>Backend</li>
                        <li>Adatbázisok</li>
                        <li>Kezdő Sportoló</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../foot") %>

<script></script>

<%- include("../footer") %>
