<%- include("../header") %>
<h1 style="color: red; text-align: center" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>
    <div class="content row m-0 p-3">
        <div class="content-wrapper row">
            <h2>Fejlesztők</h2>
            <div class="col-12 row p-0 m-0">
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h3>Gilián Erik</h3>
                    <img src="/Img/erik.png" alt="" class="w-50 align-self-center" />
                    <ul>
                        <li>Full-Stack junior fejlesztő</li>
                        <li>Design</li>
                        <li>Felhasználói élmény</li>
                        <li>Kezdő testépítő</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h3>Pető Bálint László</h3>
                    <img src="/Img/balint.png" alt="" class="w-50 align-self-center" />
                    <ul>
                        <li>Full-Stack junior fejlesztő</li>
                        <li>Adatbázisok</li>
                        <li>Blogok</li>
                        <li>Kezdő Sportoló</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include("../foot") %>
</div>

<script></script>

<%- include("../footer") %>
