<%- include("../header") %>
<h1 style="color: red; text-align: center" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-2 mt-lg-3 top-p">
    <%- include("../menu") %>
    <div class="content row m-0 p-3">
        <div class="content-wrapper p-3">
            <h2>Az oldalról</h2>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores voluptatum aspernatur facere saepe quis. Deserunt, itaque neque eius et laudantium libero quisquam dolorem quo, nemo quae distinctio nisi dolore quos.
            Ipsa animi nihil quam magnam. Quia aliquam tempora corporis nulla saepe excepturi quaerat recusandae, optio necessitatibus facilis accusantium non fugiat modi asperiores vero vitae, eos, corrupti aperiam iure explicabo quibusdam?
            Perspiciatis obcaecati vel incidunt officiis quas doloremque laudantium, dolore aspernatur ipsam architecto odit, blanditiis magnam libero. Atque expedita aut molestias saepe eveniet quaerat nam provident voluptate, natus dolores, explicabo sit!
            Quos maxime cupiditate deserunt id quas temporibus, molestiae, eius exercitationem consectetur expedita quidem cum animi eos minus repudiandae omnis, unde quaerat debitis. Iste odio nostrum officia fuga quod, quas aspernatur.
            Cum facilis natus earum nihil iure voluptate officia sunt, accusantium, atque temporibus odit voluptatibus placeat. Quod ab accusantium temporibus aliquid laborum, repudiandae iure quo quas nam, odio vel eaque quisquam.
        </div>
        <div class="content-wrapper p-3 mt-3">
            <h2 class="text-center">Fejlesztőink</h2>
        </div>

        <div class="col-12 row p-0 m-0">
            <div class="col-12 col-md-6 p-3">
                <div class="content-wrapper dev-card d-flex flex-column p-3">
                    <img src="/Img/erik.png" alt="" class="w-75 align-self-center" />
                    <h3 class="text-center">Gilián Erik</h3>
                    <ul class="p-0 m-0">
                        <li>Full-Stack junior fejlesztő</li>
                        <li>Frontend</li>
                        <li>Felhasználói élmény</li>
                        <li>Kezdő testépítő</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 p-3">
                <div class="content-wrapper dev-card d-flex flex-column p-3">
                    <img src="/Img/balint.png" alt="" class="w-75 align-self-center" />
                    <h3 class="text-center">Pető Bálint László</h3>
                    <ul class="p-0 m-0">
                        <li>Full-Stack junior fejlesztő</li>
                        <li>Backend</li>
                        <li>Adatbázisok</li>
                        <li>Kezdő Sportoló</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../foot") %>

<script></script>

<%- include("../footer") %>
