<footer class="row p-2 m-0">
    <div class="col-12 col-md-6 d-flex align-items-center">
        <ul class="m-0">
            <li>E-mail: codeyhealth@protonmail.com</li>
            <li>Tel: +36408245489</li>
            <li>Telephely: 6500 Baja. Katona Koppány u. 69</li>
        </ul>
    </div>
</footer>
