<footer class="row p-2 m-0">
    <div class="col-12 col-md-6 d-flex align-items-center">
        <ul class="m-0">
            <li>E-mail: valami@valmi.hu</li>
            <li>Tell: +36408245489</li>
            <li>Telephely: 6500 Baja. Katona Koppány u. 69</li>
        </ul>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
        <h1>Köszönjük a látogatást!</h1>
    </div>
</footer>