<header>
    <h1><%= cim %></h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark alma ng-scope" ng-controller="menuCtrl">
    <div class="container-fluid">
        <a class="navbar-brand ng-binding" href="/">Codey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav pt-2 pt-lg-0">
                <li class="nav-item">
                    <a class="nav-link ps-2 p-lg-2" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ps-2 p-lg-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Eszközök
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li ng-repeat="item in eszkozok" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Cél meghatározása</a></li>
                        <li ng-repeat="item in eszkozok" class="ng-scope"><a class="dropdown-item ng-binding" href="/tools/diary">Étkezési napló</a></li>
                        <li ng-repeat="item in eszkozok" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Grafikonok</a></li>
                        <li ng-repeat="item in eszkozok" class="ng-scope"><a class="dropdown-item ng-binding" href="/tools/kcalTable">Kalória táblázat</a></li>
                        <li ng-repeat="item in eszkozok" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Saját ételek</a></li>
                        <li ng-repeat="item in eszkozok" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Beállítások</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ps-2 p-lg-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Információ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Blog</a></li>
                        <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="#">GYIK</a></li>
                        <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Kalóriaszámlálásról</a></li>
                        <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="#">Rólunk</a></li>
                    </ul>
                </li>
                <% if (jog != 0) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ps-2 p-lg-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% if (jog == 2) { %>
                                <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="/admin/users">Felhasználók</a></li>
                                <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="/admin/ingredients">Hozzávalók</a></li>
                            <% } %>
                            <li ng-repeat="item in info" class="ng-scope"><a class="dropdown-item ng-binding" href="/admin/blogs">Blogok</a></li>
                        </ul>
                    </li>
                <% } %>
                <li class="nav-item log-out">
                    <a class="nav-link ps-2 p-lg-2" href="#">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>