<script>
  const notify = (msg, color = "red", pos = "right", grav = "top") => {
    Toastify({
      text: msg,
      close: true,
      position: pos,
      graity: grav,
      style:{
        background: color
      }
    }).showToast();
  };

  //Tábla generálása
  function toTable(data, edit=false, header = [], tableID = "table") {
    const keys = Object.keys(data[0]);
    let string = `<table class="table" id="${tableID}"><thead>`;
    string += `<tr>` 
    let th = (header.length == 0) ? keys : header
    th.forEach(element => {
      string += `<th>${element}</th>`;
    });
    if(edit) string+= `<th class="text-center">Edit</th>`;

    string += `</tr></thead><tbody>`

    for (let i = 0; i < data.length; i++) {
      string += `<tr class="sor">`
      keys.forEach(key => {
        string += `<td class="_${key}">${(data[i][key] != null) ? data[i][key] : "-"}</td>`;
      });
      if(edit) string+= `<td style="cursor:pointer" class=""><i class="bi bi-gear" onclick="edit_push(${i})"></i></td>`;
      string += `</tr>`
      
    }
    string += `</tbody></table>`

    return string;
  }

  //A táblázat sorait beszinezi egy megadott szempont alapján
  function tableColor(table, items, item, param) {
    for (let i = 0; i < $(`#${table} .sor`).length; i++) {
      $(`#${table} .sor`).eq(i).removeClass("green").removeClass("red");
      $(`#${table} .sor`).eq(i).addClass((items[i][item] == param) ? "green" : "red");
    }
  }

  //Elrejti a táblázat egy oszlopát
  function tableHide(table, item) {
    $(`#${table} ._${item}`).hide();
  }

  //A táblázat egyes elemeit lehet szerkeszteni egy megadott szempont alapján
  function tableItemEdit(table, item, param, result1, result2 = null) {
    if(result2 == null) result2 = result1;

    for (let i = 0; i < $(`#${table} ._${item}`).length; i++) {
      let text = $(`#${table} ._${item}`).eq(i).html();
      $(`#${table} ._${item}`).eq(i).html((text == param) ? eval(result1) : eval(result2));
    }
  }

  //A megadott paraméter szerint elrejti vagy mejeleníti a sorokat 
  function tableFilter(table, item, param) {
    $(`#${table} .sor`).show();
    
    for (let i = 0; i < $(`#${table} ._${item}`).length; i++) {
      let text = $(`#${table} ._${item}`).eq(i).html();
      if(!eval(param)) $(`#${table} .sor`).eq(i).hide();
    }
  }
</script>