:root {
    --body: rgb(47, 37, 25);
    --menu: rgb(253, 96, 5);
    --menu-items: rgb(250, 125, 9);
    --menu-items-color: var(--body);
    --div: rgb(74, 63, 53);

    --text: rgb(230, 213, 184);
    --cim: rgba(250, 125, 9, 0.85);

    --success: rgb(0, 128, 0);
    --warning: rgb(255, 195, 85);

    --danger: rgb(255, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

.error {
    display: none;
}

/*Header*/
header {
    background-image: url('/Img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

header h1 {
    padding: 5px;
    background-color: var(--cim);
    color: var(--text);
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 4px var(--body);
}

/*Menü beállításai*/
.menu-div,
.navbar {
    background-color: var(--menu);
    z-index: 999999;
}

.navbar .nav-item .nav-link,
.dropdown-item {
    color: var(--menu-items-color);
    border-radius: 5px;
    margin: 3px;
    user-select: none;
}

.dropdown-menu {
    color: var(--menu-items-color);
    background-color: var(--menu-items);
    border-radius: 5px;
    padding: 5px;
}

.dropdown-item {
    margin: 0;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.dropdown-item:hover {
    color: var(--menu-items);
    background-color: var(--body);
}

.log-out {
    position: absolute;
    right: 0;
}

.log-out i::before {
    font-size: 150%;
}

/*body*/
body {
    background-color: var(--body);
}

.top-p {
    padding-top: 60px;
}

.content,
.content table,
form{
    color: var(--text);
}

.content-wrapper {
    background-color: var(--div);
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
}

.content a {
    color: var(--menu);
}

.dev-card h3 {
    background-color: var(--menu);
    margin: 0 15px 0 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px black;
}

.canvasjs-chart-canvas {
    border-radius: 10px;
}

.wrong {
    background-color: rgba(255, 0, 0, 0.265);
}

.good {
    background-color: rgba(0, 128, 0, 0.265);
}

.row {
    margin: 0;
    padding: 0;
}

.row-number {
    background-color: green;
    border-radius: 15px 0 0 15px;
    padding: 0px 10px 0px 10px;
}

/*Form*/
.form-floating .form-control,
.form-select,
#gender-input,
.gender-icon {
    background-color: transparent;
    border: 0;
    color: var(--text);
    background-color: var(--body);
    box-shadow: inset 0px 0px 2px black;
}

.form-floating .form-control:focus,
.form-select:focus,
#gender-input {
    box-shadow: inset 0px 0px 2px black;
}

#gender-input {
    border-radius: 0 4px 4px 0;
    cursor: default;
}

.gender-icon {
    border-radius: 0;
    cursor: pointer;
}

.gender-icon:hover,
.selected-gender-icon {
    background-color: var(--menu);
}

.gender-icon:nth-child(1) {
    border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

/*Table*/
i::before {
    width: 100%;
    text-align: center;
}

/*Buttons*/
.btn-success {
    background-color: var(--success);
    border: 1px solid var(--success);
}

.btn-success:hover {
    background-color: var(--success);
    border: 1px solid var(--success);
    box-shadow: 0 0 10px 2px var(--success);
}

.btn-success:focus {
    background-color: var(--success);
    border: 1px solid var(--success);
    box-shadow: 0 0 10px 2px var(--success);
}

.btn-warning {
    background-color: var(--warning);
    border: 1px solid var(--warning);
}

.btn-warning:hover {
    background-color: var(--warning);
    border: 1px solid var(--warning);
    box-shadow: 0 0 10px 2px var(--warning);
}

.btn-warning:focus {
    background-color: var(--warning);
    border: 1px solid var(--warning);
    box-shadow: 0 0 10px 2px var(--warning);
}

.btn-danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.btn-danger:hover {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    box-shadow: 0 0 10px 2px var(--danger);
}

.btn-danger:focus {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    box-shadow: 0 0 10px 2px var(--danger);
}

/*Footer*/
footer {
    background-color: var(--menu);
    color: var(--body);
    box-shadow: -1px 0px 5px black;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: none;
}

::-webkit-scrollbar-track {
    background: var(--div);
}

::-webkit-scrollbar-thumb {
    background: var(--body);
    border-radius: 5px;
}

body::-webkit-scrollbar {
    display: block;
}

body::-webkit-scrollbar-track {
    background: var(--body);
}
body::-webkit-scrollbar-thumb {
    background: var(--div);
}

/*
input[type='submit']:hover {
    background-color: var(--button-hover);
    color: var(--button-hover-text);
}

.food-item {
    border: 1px solid black;
}

.blog-content {
    height: 345px;
    overflow: hidden;
    margin-bottom: 25px;
}

.form-switch {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.form-switch input[type='checkbox'] {
    margin: 0;
    width: 60px;
    padding: 15px;
    color: yellow;
    margin-right: 5px;
    border: 1px solid var(--footer);
    color: red;
}

input[type='checkbox']:checked {
    background-color: var(--footer);
    border: 1px solid var(--footer);
}

input[type='checkbox']:focus {
    box-shadow: none;
    border: 1px solid var(--footer);
}

.form-switch label,
.date-item label {
    color: var(--text);
    font-size: larger;
}

.date-item input {
    padding: 5px;
}

.date-item td {
    padding-right: 10px;
}

.table td,
th {
    color: var(--text);
}

tfoot tr {
    background-color: var(--content);
}

.error {
    display: none;
}

#accordion {
    color: var(--text);
}

.myModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009c;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/*@media only screen and (max-width: 405px) {
    .container {
        display: none;
    }

    .error {
        display: block;
    }
}*/

@media only screen and (max-width: 992px) {
    .log-out {
        position: relative;
    }

    .log-out i::before {
        text-align: start;
    }
}
