<%- include("../header") %>
<h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-2 mt-lg-3 top-p">
        <%- include("../menu") %>
        <div class="content m-0 p-3">
            <div class="user-form content-wrapper p-3 row">
                <input type="date" name="" id="tolDate" class="col-12 col-md-6">
                <input type="date" name="" id="igDate" class="col-12 col-md-6 mt-2 mt-md-0">
                <div class="p-0 m-0 pt-3">
                    <button type="button" class="btn btn-success" onclick="szures()">Szűrés</button>
                <button type="button" class="btn btn-warning" onclick="reset()">Reset</button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="m-0 p-2 col-12 col-lg-6">
                    <div class="content-wrapper mt-2 acc">
                        <h3 class="p-3">Étkezési napló</h3>
                        <hr class="col-11 m-auto">
                        <div id="etkezes" class="p-3" style="overflow-x: scroll;"></div>
                    </div>
                </div>
                
                <div class="m-0 p-2 col-12 col-md-6">
                    <div class="content-wrapper mt-2 acc">
                        <h3 class="p-3">Testmozgási napló</h3>
                        <hr class="col-11 m-auto">
                        <div id="testmozgas" class="p-3" style="overflow-x: scroll;"></div>
                    </div>
                </div>
                    
                <div class="m-0 p-2 col-12 col-md-6">
                    <div class="content-wrapper mt-2 acc">
                        <h3 class="p-3">Folyadék napló</h3>
                        <hr class="col-11 m-auto">
                        <div id="folyadek" class="p-3" style="overflow-x: scroll;"></div>
                    </div>
                </div>
                    
                <div class="m-0 p-2 col-12 col-md-8 col-lg-6">
                    <div class="content-wrapper mt-2 acc">
                        <h3 class="p-3">Súly alakulás</h3>
                        <hr class="col-11 m-auto">
                        <div id="suly" class="p-3" style="overflow-x: scroll;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <%- include("../foot") %>

<script>
    //----------------------------------------------------
    $.ajax({method:"POST", url:"/", data:{
        drinkToday:0,
        useToday:0,
        eatenToday:0
    }})

    .done((res)=>{
        console.log(res);
        $("#testmozgas").html(toTable({datas:res.sports, headers: [ "Dátum", "Mennyiség (kcal)"], tableID:"mozgasTable"}))
        tableHide({table:"mozgasTable", item:"felhasznalo_id"});
        tableHide({table:"mozgasTable", item:"id"});

        $("#folyadek").html(toTable({datas: res.waters, headers:[ "Mennyiség(dl)", "Dátum"], tableID:"folyadekTable"}))
        tableHide({table:"folyadekTable", item:"felhasznalo_id"});
        tableHide({table:"folyadekTable", item:"id"});

        let foodTableData = [];

        res.foods.forEach(food => {
            let kcal = 0;
            food.kcal.forEach(element => {
                kcal += element.kcal * element.multiplier
            });
            foodTableData.push({id: food.id, name: food.name, kcal: kcal, date: food.date})
        });

        $("#etkezes").html(toTable({datas: foodTableData, isFunc: false, headers:["Név", "Mennyiség (kcal)", "Dátum"], tableID:"etelekTable"}))
        tableHide({table:"etelekTable", item:"hozzavalok"});
        tableHide({table:"etelekTable", item:"id"});
        tableItemEdit({ table: 'etelekTable', item: 'kcal', param: '0', result1: "Number(text).toFixed(2)" });
    })
    .fail((err)=>{

    })
    .always(()=>{})
    //----------------------------------------------------------
    $.ajax({method:"GET", url:"./getWeights"})
    .done((res)=>{
        console.log(res.data.allWeights);
        $("#suly").html(toTable({datas: res.data.allWeights, headers:[ "Súly (kg)", "Dátum"], tableID:"sulyTable"}))
        tableHide({table:"sulyTable", item:"felhasznalo_id"});
        tableHide({table:"sulyTable", item:"id"});
    })
    .fail((err)=>{

    })
    .always(()=>{})

    function szures() {
        if($("#tolDate").val() == "" || $("#igDate").val() == "") return notify("Nem adtál meg intervallumot!")
        if(new Date($("#tolDate").val()).getTime() > new Date($("#igDate").val()).getTime()) return notify("A kezdet nem lehet nagyobb mit a vég!")
        
        tableFilter(
            {table:"etelekTable",
            item:"date",
            param:"Date.parse(text) >= Date.parse($('#tolDate').val()) && Date.parse(text) <= Date.parse($('#igDate').val())"
        });
        tableFilter({
            table:"folyadekTable",
            item:"datum",
            param:"Date.parse(text) >= Date.parse($('#tolDate').val()) && Date.parse(text) <= Date.parse($('#igDate').val())"
        });
        tableFilter({
            table:"mozgasTable",
            item:"datum",
            param:"Date.parse(text) >= Date.parse($('#tolDate').val()) && Date.parse(text) <= Date.parse($('#igDate').val())"
        });
        tableFilter({
            table:"sulyTable",
            item:"datum",
            param:"Date.parse(text) >= Date.parse($('#tolDate').val()) && Date.parse(text) <= Date.parse($('#igDate').val())"
        });
    }
    function reset() {
        tableFilter({table:"etelekTable", item:"date", param:"true"});
        tableFilter({table:"folyadekTable", item:"datum", param:"true"});
        tableFilter({table:"mozgasTable", item:"datum", param:"true"});
        tableFilter({table:"sulyTable", item:"datum", param:"true"});
    }
</script>

<%- include("../footer") %>


