<%- include("../header") %>
<h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-0 mt-sm-3">

        <%- include("../menu") %>
        <div class="content row m-0 p-0">
            
        </div>
        
        <%- include("../foot") %>
    </div>

<script>
    $.ajax({method:"POST", url:"/", data:{
        drinkToday:false,
        useToday:false,
        eatenToday:false
    }})
    .done((res)=>{
        console.log(res);
    })
    .fail((err)=>{

    })
    .always(()=>{})
</script>

<%- include("../footer") %>


