<%- include ('../../header') %> 

  <body style="display: flex; justify-content: center; align-items: center; background-color: antiquewhite; height: 100%; flex-direction: column;">
    <h1>Nem létezik ilyen token</h1>
  </body>
</html>
