<%- include ('../../header') %> 

  <body style="display: flex; justify-content: center; align-items: center; background-color: antiquewhite; height: 100%; flex-direction: column;">
    <h1>Sikeres Regisztráció</h1>
    <a href="/auth/login">Kattints ide a bejelentkezéshez</a>
  </body>
</html>