<%- include("../header") %>
<h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-0 mt-sm-3">

        <%- include("../menu") %>
        <div class="content row m-0 p-0">
            <div class="left-bar col-12 col-md-9 d-flex flex-column">
                <div class="etkezes kozep gray m-3">
                    <div class="col-10 col-md-9 m-3">
                        <h2>Étkezés felvétele</h2>
                        
                    </div>
                </div>
                <div class="mozgas kozep gray m-3">
                    <form action="" class="user-form col-10 col-md-9 m-3">
                        <h2>Mozgás felvétele</h2>
                        
                    </form>
                </div>
            </div>
            <div class="right-bar col-12 col-md-3">
                <h3 class="text-center p-2">Hírek</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iste ullam iusto blanditiis ipsum officiis quos, culpa hic mollitia, error nam eos nesciunt laboriosam porro! Minima enim quas placeat inventore.
                <hr style="color: black; height: 2px; opacity: 1;">
                <img src="./Img/water.jpg" title="Water.jpg" class="col-12">
                <label for="vizMennyiseg" id="water-text" class="text-center col-12">Víz mennyiség: 3dl</label>
                <input type="range" name="vizMennyiseg" id="waterRange" class="col-12" min="1" max="5" value="3">
                <input type="submit" value="Felvétel" class="col-12 mb-2">
            </div>
        </div>
        
        <%- include("../foot") %>
    </div>

<script>
    
</script>

<%- include("../footer") %>


