<%- include("../header") %>
<h1 style="color: red; text-align: center;" class="error d-none">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-2 mt-lg-3 top-p">

    <%- include("../menu") %>
    <div class="content row m-0 p-3">
        <div class="content-wrapper p-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione voluptatum distinctio, perferendis ipsa ullam ab autem fuga expedita nobis ex aliquid consequuntur recusandae necessitatibus nihil odit, amet, nulla quibusdam praesentium.
            Sunt, amet hic ad similique molestiae molestias ab adipisci! Veniam perferendis dolorem suscipit tenetur. Quas alias totam reiciendis corporis, quaerat sit deserunt accusantium fuga, earum molestiae exercitationem architecto eligendi nobis.
            Exercitationem odit suscipit sequi necessitatibus eaque ipsa recusandae non aliquam voluptatibus molestias dolore error quae adipisci alias repudiandae harum similique nam, quibusdam aperiam quidem ipsam neque cupiditate soluta possimus. Adipisci.
            Aperiam asperiores minus officiis omnis suscipit dicta excepturi, in obcaecati dolor commodi odit corporis impedit doloremque magnam est delectus vel facilis? Perferendis qui laboriosam ipsum rem voluptatum, alias tempora harum?
            Rem nemo error vero et? Assumenda, deserunt. Pariatur ab est cum minima vel quod voluptatem veniam iure atque vero commodi fuga adipisci explicabo necessitatibus harum assumenda earum eveniet, optio quos.
            Laboriosam ut non voluptatem, praesentium consequuntur, blanditiis quaerat autem architecto explicabo voluptas nam consectetur veniam sit sed vero ipsum accusantium debitis labore inventore, quia dolorum? Sunt commodi omnis nam qui?
            Saepe, et alias fuga hic ab iure natus, rerum illo iusto commodi perspiciatis labore! Illo rem, expedita dolorem enim nemo, pariatur, numquam dolorum id explicabo ratione eum quos aliquam earum?
            Voluptas itaque nesciunt neque voluptatem inventore ad. Soluta in adipisci quasi repellendus et, distinctio, a non ipsa est placeat repudiandae doloremque sit, ex itaque cupiditate porro eos? Pariatur, quidem accusamus.
            Sint deleniti, reiciendis architecto dolorem sit repellendus cum molestiae ipsam accusamus, cumque possimus odit quis aut amet eveniet corporis quibusdam odio inventore quisquam. Id perferendis iure qui quaerat, ratione ipsum?
            Perspiciatis possimus consectetur incidunt accusamus quae, facilis ex labore id vel eum a. Vitae officia ipsam impedit recusandae officiis dolor, beatae nisi enim sint eveniet voluptas eligendi nihil maiores placeat?
        </div>

    </div>
</div>
<%- include("../foot") %>
<script>
    
</script>

<%- include("../footer") %>


