<%- include("../header") %>
<h1 style="color: red; text-align: center" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
<div class="container mt-2 mt-lg-3 top-p">
    <%- include("../menu") %>
    <div class="content row m-0 p-3">
        <div class="content-wrapper p-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione voluptatum distinctio, perferendis ipsa ullam ab autem fuga expedita nobis ex aliquid consequuntur recusandae
            necessitatibus nihil odit, amet, nulla quibusdam praesentium. Sunt, amet hic ad similique molestiae molestias ab adipisci! Veniam perferendis dolorem suscipit tenetur. Quas alias totam
            reiciendis corporis, quaerat sit deserunt accusantium fuga, earum molestiae exercitationem architecto eligendi nobis.
        </div>
    </div>
</div>
<%- include("../foot") %>
<script></script>

<%- include("../footer") %>
