<%- include("../header") %>
    <h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>

    <div class="content row m-0 p-3">
        <div class="gray row p-2">
            
        </div>
        <div class="gray mt-3" id="tablazat" style="overflow-x:scroll">
            <!-- Felhasználók táblája -->
        </div>
            
    </div>
    <%- include('../foot') %>
</div>

<script>
    let blogs = [];
    let select;
    $.ajax({ method: 'get', url: './getAllBlog' })
    .done((data) => {
        if(!data.success) return $("#tablazat").html("<h2>Hiba az adatok lekérésekor</h2>");
        if(data.blogs.length == 0) return;
        blogs = data.blogs;
        console.table(blogs);
        

        $("#tablazat").html(toTable(blogs, true, []));
        //szinez(status);
      })
    .fail((err) => {/*TODO error kiiratása*/})
    .always(() => {});

    function szinez(status){
        let rows = document.getElementsByClassName('sor');
        for (let i = 0; i < rows.length; i++) {
            rows[i].classList.add((status[i] == "") ? "green" : "red");
        }
    }

    function edit_push(index) {
        select = users[index];
        $("#name").val(select.nev);
        $("#email").val(select.email);
        $("#jog").val(jogok.indexOf(select.jogosultsag));
        $("#magas").val(select.magassag);
        $("#suly").val(select.suly);
        $("#cel").val(select.cel_suly);
    }

    function edit() {
        $.ajax({ method: 'post', url: './setUserData', data: {
            id: select.id,
            username: $("#name").val(),
            email: $("#email").val(),
            status: $("#jog").val(),
            magassag: ($("#magas").val() == 0) ? null : $("#magas").val(),
            suly: ($("#suly").val() == 0) ? null : $("#suly").val(),
            cel: ($("#cel").val() == 0) ? null : $("#cel").val()
        } })
        .done((results) => {
            console.log(results.data);
            if(!results.data.success) return console.log("Sikertelen módosítás!!!");
            console.log("Sikeres módosítás!!!");
            //A felhasználó adatainak átírása a táblázatban
            users[users.indexOf(select)] = {
                id: select.id,
                nev: $("#name").val(),
                email: $("#email").val(),
                jogosultsag: jogok[Number($("#jog").val())],
                magassag: ($("#magas").val() == 0) ? null : $("#magas").val(),
                suly: ($("#suly").val() == 0) ? null : $("#suly").val(),
                cel_suly: ($("#cel").val() == 0) ? null : $("#cel").val()
            }
            //Táblázat frissítése
            $("#tablazat").html(toTable(users, true, ["ID", "Név", "E-mail", "Jogok", "Magasság", "Súly", "Cél"]));
            szinez(status);
        })
        .fail((err) => {return console.log("Sikertelen módosítás!!!" + err)})
        .always(() => {});
    }

    function delet(params) {
        if(!confirm("Biztos törölni akarod a felhasználót?")) return;
        $.ajax({method: "POST", url:"./deleteUser", data:{id: select.id}})
        .done((results)=>{
            if(!results.data.success) return console.log("Sikertelen törlés!!");
            console.log("Sikeres törlés");
            users.splice(users.indexOf(select), 1);
            if(users.length == 0) return $("#tablazat").html("");
            $("#tablazat").html(toTable(users, true, ["ID", "Név", "E-mail", "Jogok", "Magasság", "Súly", "Cél"]));
            szinez(status);
        })
        .fail((err)=>{return console.log(err)})
        .always(()=>{});
    }
</script>

<%- include("../footer") %>

