<%- include("../header") %>
    <h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>

    <div class="content row m-0 p-3">
        <div class="gray row p-2" id="preview">
            
        </div>
        <div class="gray mt-3" id="tablazat" style="overflow-x:scroll">
            <!-- Hozzávalók táblája -->
        </div>
            
    </div>
    <%- include('../foot') %>
</div>

<script>
    let ingredients = [];
    let select;
    
    $.ajax({ method: 'get', url: './getAllIngredient' })
    .done((res) => {
        if(!res.data.success) return $("#tablazat").html("<h2>Hiba az adatok lekérésekor</h2>");
        if(res.data.ingredients.length == 0) return;

        ingredients = res.data.ingredients;
        console.table(ingredients);

        $("#tablazat").html(toTable(ingredients, true, ["ID", "Név", "Kcal", "Fehérje", "Szénhidrát", "Zsír"]));
      })
    .fail((err) => {/*TODO error kiiratása*/})
    .always(() => {});

    function edit_push(index) {
        select = ingredients[index];
        console.log(select);
    }

    function edit() {
        /*$.ajax({ method: 'post', url: './setBlogStatus', data: {
            id: select.id,
            status: stat
        } })
        .done((results) => {
            console.log("sikeresen módosítva!");
            statuses[blogs.indexOf(select)] = stat;
            
            $("#tablazat").html(toTable(blogs, true, ["ID", "Cím", "Tartalom", "Felhasználó", "Időpont"]));
            szinez(statuses);
        })
        .fail((err) => {return console.log("Sikertelen módosítás!!!")})
        .always(() => {});*/
    }
</script>

<%- include("../footer") %>