<%- include("../header") %>
    <h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>

    <div class="content row m-0 p-3">
        <div class="gray row p-2" id="preview">
            <div class="user-form">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="János" />
                    <label for="name">Név</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="kcal" placeholder="null" min="1" />
                    <label for="login-email">Kcal</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="feherje" placeholder="null" min="1" />
                    <label for="login-email">Fehérje</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="szenhidrat" placeholder="null" min="1" />
                    <label for="login-email">Szénhidrát</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="zsir" placeholder="null" min="1" />
                    <label for="login-email">Zsír</label>
                </div>
                <select name="" id="eheto" class="form-select">
                    <option value="">Ehető e magában?</option>
                    <option value="1">Igen</option>
                    <option value="0">Nem</option>
                </select>
                <button type="button" class="btn btn-success" onclick="createNew()">Létrehozás</button>
                <button type="button" class="btn btn-warning d-none" onclick="edit()">Módosítás</button>
                <button type="button" class="btn btn-danger d-none" onclick="delete_data()">Törlés</button>
                <button type="button" class="btn btn-secondary d-none" onclick="back()">Vissza</button>
            </div>
        </div>
        <div class="gray mt-3" id="tablazat" style="overflow-x:scroll">
            <!-- Hozzávalók táblája -->
        </div>
            
    </div>
    <%- include('../foot') %>
</div>

<script>
    let ingredients = [];
    let select;
    
    $.ajax({ method: 'get', url: './getAllIngredient' })
    .done((res) => {
        if(!res.data.success) return $("#tablazat").html("<h2>Hiba az adatok lekérésekor</h2>");
        if(res.data.ingredients.length == 0) return;

        ingredients = res.data.ingredients;

        $("#tablazat").html(toTable(ingredients, true, ["ID", "Név", "Kcal", "Fehérje", "Szénhidrát", "Zsír"]));
        tableColor(ingredients, "ehetoe_magaban", 1)
        tableHide("ehetoe_magaban")
      })
    .fail((err) => {notify("Adatbázis hiba");})
    .always(() => {});

    function edit_push(index) {
        $(".btn").removeClass("d-none")
        $(".btn").first().addClass("d-none")
        select = ingredients[index];

        $("#name").val(select.nev)
        $("#kcal").val(select.kcal)
        $("#feherje").val(select.feherje)
        $("#szenhidrat").val(select.szenhidrat)
        $("#zsir").val(select.zsir)
        $("#eheto").val(select.ehetoe_magaban)
    }

    function edit() {
        if(select == null) return notify("Nincs kiválasztott hozzávaló!");
        if ($("#name").val() == "" || $("#kcal").val() == "" || $("#feherje").val() == "" ||
        $("#szenhidrat").val() == "" || $("#zsir").val() == "" || $("#eheto").val() == "") {
            return notify("Nem adtál meg minden adatot!");
        }
        if(!confirm("Bisztos módosítani akarod a kiválasztott elemet?")) return;

        $.ajax({ method: 'post', url: './setIngredient', data: {
            id: select.id,
            nev:  $("#name").val(),
            kcal: $("#kcal").val(),
            feherje: $("#feherje").val(),
            szenhidrat: $("#szenhidrat").val(),
            zsir: $("#zsir").val(),
            ehetoe_magaban: $("#eheto").val(),
        } })
        .done((res) => {
            if(!res.data.success) return notify(res.data.err);
            notify("Hozzávaló sikeresen módosítva!", "green");
            let index = ingredients.indexOf(select);

            ingredients[index].nev = $("#name").val(),
            ingredients[index].kcal = $("#kcal").val(),
            ingredients[index].feherje = $("#feherje").val(),
            ingredients[index].szenhidrat = $("#szenhidrat").val(),
            ingredients[index].zsir = $("#zsir").val(),
            ingredients[index].ehetoe_magaban = $("#eheto").val(),

            $("#tablazat").html(toTable(ingredients, true, ["ID", "Név", "Kcal", "Fehérje", "Szénhidrát", "Zsír"]));
            tableColor(ingredients, "ehetoe_magaban", 1)
            tableHide("ehetoe_magaban")
            back();
        })
        .fail((err) => {return console.log("Sikertelen módosítás!!!")})
        .always(() => {});
    }

    function delete_data(params) {
        if(select == null) return notify("Nincs kiválasztott hozzávaló!");
        if(!confirm("Bisztos Törölni akarod a kiválasztott elemet?")) return;

        $.ajax({method:"post", url:"./deleteIngredient", data:{
            id: select.id
        }})
        .done((res)=>{
            if(!res.data.success) return notify(res.data.err);
            notify("Hozzávaló sikeresen törölve!", "green");
            ingredients.splice(ingredients.indexOf(select), 1)

            $("#tablazat").html(toTable(ingredients, true, ["ID", "Név", "Kcal", "Fehérje", "Szénhidrát", "Zsír"]));
            tableColor(ingredients, "ehetoe_magaban", 1)
            tableHide("ehetoe_magaban")
            back();
        })
        .fail((err)=>{notify(err)})
        .always(()=>{});
    }

    function createNew(params) {
        if ($("#name").val() == "" || $("#kcal").val() == "" || $("#feherje").val() == "" ||
        $("#szenhidrat").val() == "" || $("#zsir").val() == "" || $("#eheto").val() == "") {
            notify("Nem adtál meg minden adatot!");
            return;
        }

        $.ajax({method:"post", url:"./newIngredient", data:{
            nev: $("#name").val(),
            kcal: $("#kcal").val(),
            feherje: $("#feherje").val(),
            szenhidrat: $("#szenhidrat").val(),
            zsir: $("#zsir").val(),
            ehetoe_magaban: $("#eheto").val(),
        }})
        .done((res)=>{
            if(!res.data.success) return notify(res.data.err);
            notify("Hozzávaló sikeresen felvéve az adatbázisba!", "green");
            ingredients.push({
                id: res.data.ing.id,
                nev: res.data.ing.nev,
                kcal: res.data.ing.kcal,
                feherje: res.data.ing.feherje,
                szenhidrat: res.data.ing.szenhidrat,
                zsir: res.data.ing.zsir,
                ehetoe_magaban: res.data.ing.ehetoe_magaban,
            })
            console.log(ingredients);
            $("#tablazat").html(toTable(ingredients, true, ["ID", "Név", "Kcal", "Fehérje", "Szénhidrát", "Zsír"]));
            tableColor(ingredients, "ehetoe_magaban", 1);
            tableHide("ehetoe_magaban");
        })
        .fail((err)=>{notify(err)})
        .always(()=>{});
    }

    function back(params) {
        select = null;
        $(".btn").addClass("d-none");
        $(".btn").first().removeClass("d-none");

        $("#name").val("")
        $("#kcal").val("")
        $("#feherje").val("")
        $("#szenhidrat").val("")
        $("#zsir").val("")
        $("#eheto").val("")
    }
</script>

<%- include("../footer") %>