<%- include("../header") %>
<div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>

    <div class="content row m-0 p-3">
        <div class="gray row p-2">
            <h2 class="text-center">Adatok módosítása</h2>
            <form method="post">

            </form>
        </div>
        <div class="gray mt-3" id="tablazat" style="overflow-x:scroll">
            <!-- Felhasználók táblája -->>
        </div>
            
    </div>
    <%- include('../foot') %>
</div>

<script>
    let users = [];
    $.post("./getAllUserData",
    {
        
    },
        function(data, status){
            const jog = {"0": "User", "1": "Moderator", "2":"Admin"};
            if(!data.success) return $("#tablazat").html("<h2>Hiba az adatok lekérésekor</h2>");
            users = data.users;
            users.forEach(element => {
                element['reg_token'] = (element['reg_token'] == "") ? "Igen" : "Nem";
                element['jogosultsag'] = jog[`${element['jogosultsag']}`];
            });
            $("#tablazat").html(toTable(users, true, ["ID", "Név", "E-mail", "Jogok", "Aktív", "Magasság", "Súly", "Cél"]))
            
        }
    );

    function edit(index) {
        console.log(users[index]);        
    }
</script>

<%- include("../footer") %>

