<%- include("../header") %>
    <h1 style="color: red; text-align: center;" class="error">Az oldal nem támogatja ezt a képernyő szélességet</h1>
    <div class="container mt-0 mt-sm-3">
    <%- include("../menu") %>

    <div class="content row m-0 p-3">
        <div id="userModal">
            <div class="user-form">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="János" />
                    <label for="name">Név</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" />
                    <label for="login-email">Email cím</label>
                </div>
                <select name="" id="jog" class="form-select">
                    <option value="0">User</option>
                    <option value="1">Moderátor</option>
                    <option value="2">Admin</option>
                </select>
                <select name="" id="nem" class="form-select">
                    <option value="">-</option>
                    <option value="0">Nő</option>
                    <option value="1">Férfi</option>
                </select>
                <div class="form-floating">
                    <input type="number" class="form-control" id="magas" placeholder="null" min="1" />
                    <label for="login-email">Magasság (cm)</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="cel" placeholder="null" min="1" />
                    <label for="login-email">Cél súly (kg)</label>
                </div>
            </div>
        </div>
        <div class="gray" id="tablazat" style="overflow-x:scroll">
            <!-- Felhasználók táblája -->
        </div>
            
    </div>
    <%- include('../foot') %>
</div>

<script>
    let users = [];
    let select;

    setModal("userModal", {
        cim:"Felhasználó műveletek",
        buttons: [
            {type:"success", text:"Mentés", id:"edit"},
            {type:"warning", text:"Törlés", id:"delete"},
            {type:"secondary", text:"Vissza", id:"back"}
        ]
    })

    $.ajax({ method: 'post', url: './getAllUserData', data: { } })
    .done((data) => {
        if(!data.success) return $("#tablazat").html("<h2>Hiba az adatok lekérésekor</h2>");
        if(data.users.length == 0) return;
        users = data.users;
        saveTable();
      })
    .fail((err) => {notify("Adatbázis hiba");})
    .always(() => {});

    function saveTable() {
        $("#tablazat").html(toTable({datas:users, isFunc:true, headers:["ID", "Név", "E-mail", "Nem", "Jogok", "Magasság", "Cél"], tableID:"userTable"}));
        tableColor({ table:"userTable", item:"reg_token", param:""});
        tableHide({table:"userTable", item:"reg_token"});

        tableItemEdit({table:"userTable", item:"jogosultsag", param:"0", result1:"'User'", result2:"text"});
        tableItemEdit({table:"userTable", item:"jogosultsag", param:"1", result1:"'Moderator'", result2:"text"});
        tableItemEdit({table:"userTable", item:"jogosultsag", param:"2", result1:"'Admin'", result2:"text"});

        tableItemEdit("userTable", "nem", "0", "'Nő'", "text");
        tableItemEdit("userTable", "nem", "1", "'Férfi'", "text");

        $("document").ready(()=>{
            $("#userTable #isFuncBTN").on("click", (event)=>{
                const index = $(event.currentTarget).data("value");
                select = users[index];
                $("#name").val(select.nev);
                $("#email").val(select.email);
                $("#jog").val(select.jogosultsag);
                $("#magas").val(select.magassag);
                $("#nem").val(select.nem);
                $("#cel").val(select.cel_suly);

                $("#userModal").removeClass("d-none");
            })

            $("#userModal #edit").on("click", ()=>{
                if(select == null) return notify("Nincs kiválasztott felhasználó!");
                if(!confirm("Biztos Módosítani akarod a felhasználó adatait?")) return;

                $.ajax({ method: 'post', url: './setUserData', data: {
                    id: select.id,
                    username: $("#name").val(),
                    email: $("#email").val(),
                    nem: ($("#nem").val() == "") ? null : $("#nem").val(),
                    status: $("#jog").val(),
                    magassag: ($("#magas").val() == 0) ? null : $("#magas").val(),
                    cel: ($("#cel").val() == 0) ? null : $("#cel").val()
                } })
                .done((results) => {
                    console.log(results.data);
                    if(!results.data.success) return console.log("Sikertelen módosítás!!!");
                    console.log("Sikeres módosítás!!!");
                    //A felhasználó adatainak átírása a táblázatban
                    users[users.indexOf(select)] = {
                        id: select.id,
                        nev: $("#name").val(),
                        email: $("#email").val(),
                        nem: ($("#nem").val() == "") ? null : $("#nem").val(),
                        jogosultsag: $("#jog").val(),
                        reg_token: select.reg_token,
                        magassag: ($("#magas").val() == 0) ? null : $("#magas").val(),
                        cel_suly: ($("#cel").val() == 0) ? null : $("#cel").val()
                    }
                    saveTable();
                    $("#userModal").addClass("d-none")

                    $("#name").val("");
                    $("#email").val("");
                    $("#jog").val(0);
                    $("#magas").val("");
                    $("#nem").val("");
                    $("#cel").val("");
                    select = null;
                    notify("Adatok sikeresen módosítva!", "green")
                })
                .fail((err) => {return console.log("Sikertelen módosítás!!!" + err)})
                .always(() => {});
            })

            $("#userModal #delete").on("click", ()=>{
                if(select == null) return notify("Nincs kiválasztott felhasználó!");
                if(!confirm("Biztos törölni akarod a felhasználót?")) return;
                
                $.ajax({method: "POST", url:"./deleteUser", data:{id: select.id}})
                .done((results)=>{
                    if(!results.data.success) return console.log("Sikertelen törlés!!");
                    console.log("Sikeres törlés");
                    users.splice(users.indexOf(select), 1);
                    if(users.length == 0) return $("#tablazat").html("");
                    
                    saveTable();
                    $("#userModal").addClass("d-none");

                    $("#name").val("");
                    $("#email").val("");
                    $("#jog").val(0);
                    $("#magas").val("");
                    $("#nem").val("");
                    $("#cel").val("");
                    select = null;

                    notify("Sikeresen törölted a felhasználót", "green")
                })
                .fail((err)=>{return notify("Hiba a törlés közben")})
                .always(()=>{});
            })

            $("#userModal #back").on("click", ()=>{
                $("#userModal").addClass("d-none");
                saveTable();
            })
        })
    }
</script>

<%- include("../footer") %>

